<!DOCTYPE html>
<html>
  <head>

    <title>
      MY PORTFOLIO
    </title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"href="static/style.css">
  </head>
  <body>
<header class="header">
      <a href="#" class="logo">Portfolio</a>
      <i class='bx bx-menu' id='menu-icon'></i>
      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#experience">Experience</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>    
<section class="home" id="home">
<div class="home-content">
  <h3>Hello, It's Me</h3>
  <h1>Ranjith Raja</h1>
  <h3>And I'm a <span>Python Developer</span></h3>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, consequatur accusamus fuga maxime perspiciatis laboriosam id odit dicta alias tempora ratione ducimus, eaque repudiandae aspernatur iure magni atque minus repellat?</p>

<div class="social-media">

  <a href="#"><i class='bx bxl-linkedin'></i></a>
  <a href="#"><i class='bx bxl-github'></i></a>
</div>
  <a href="#" class="btn">Download CV</a>

</div>

  <div class="home-img">
    <img src="static/python.png" alt="" height='200px'>
  </div>
</section>

<section class="about" id="about">

  <div class="about-img">
    <img src="static/myphoto.jpeg" alt="" height='200px'>
  </div>

  <div class="about-content">
    <h2 class='heading'>About <span>Me</span></h2>
    <h3>Python Devloper</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptas id rerum facilis. Quae totam deleniti neque rem perferendis exercitationem dolorem eos molestias harum, quia itaque consequuntur quod libero iure.</p>
    <a href="#" class="btn">Read More</a>
  </div>
</section>


<section class="skills" id="skills">
<div class='myskilllist'>  
  <div class="python">
    <img src="" alt="" height='200px'>
  </div>

  <div class="about-content">
    <h2 class='heading'>My<span>Skills</span></h2>
    <h3>Python</h3>
  </div>
</div>

</section>
    


  <script src="static/script.js"></script>
    
  </body >
  
</html>
