<!DOCTYPE html>
<html>
  <head>

    <title>
      MY PORTFOLIO
    </title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"href="static/style.css">
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Portfolio</a>
      <i class='bx bx-menu' id='menu-icon'></i>
      <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">About</a>
        <a href="#">skills</a>
        <a href="#">Portfolio</a>
        <a href="#">Contact</a>
      </nav>
    </header>    
<section class="home" id="home">
<div class="home-content">
  <h3>Hello, It's Me</h3>
  <h1>Ranjith Raja</h1>
  <h3>And I'm a <span>Python Developer</span></h3>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, consequatur accusamus fuga maxime perspiciatis laboriosam id odit dicta alias tempora ratione ducimus, eaque repudiandae aspernatur iure magni atque minus repellat?</p>

<div class="social-media">

  <a href="#"><i class='bx bxl-linkedin'></i></a>
  <a href="#"><i class='bx bxl-github'></i></a>
</div>
  <a href="#" class="btn">Download CV</a>

</div>

  <div class="home-img">
    <img src="static/python.png" alt="" height='200px'>
  </div>
</section>
    


  <script src="static/script.js"></script>
    
  </body >
  
</html>